version: 2
jobs:
  dockerfm-build-sasano8/basic_fastapi_selenium-standalone-chrome-debug:
    docker:
    - image: circleci/python:3.6.4
    steps:
    - checkout
    - setup_remote_docker
    - run: docker build -t sasano8/basic_fastapi_selenium-standalone-chrome-debug:latest
        ./dockerfm/fastapi/selenium-standalone-chrome-debug
    - run: echo "$DOCKERHUB_PASS" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
    - run: docker push sasano8/basic_fastapi_selenium-standalone-chrome-debug:latest
    - run: python dockerfm/pushreadme.py sasano8/basic_fastapi_selenium-standalone-chrome-debug
        ./dockerfm/fastapi/selenium-standalone-chrome-debug/README.md
workflows:
  version: 2
  build_and_test:
    jobs:
    - dockerfm-build-sasano8/basic_fastapi_selenium-standalone-chrome-debug
